<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>  
    <clear/>  
    <add name="NorthwindSQL"   
     providerName="System.Data.SqlClient"   
     connectionString=  
     "Data Source=userpc\SQLEXPRESS;Initial Catalog=KasperTestTask;Integrated Security=true;"  
    />  
  </connectionStrings>  
  <appSettings>    
    <add key="windowsServiceName" value="MainFileService"/>
    <add key="logFile" value="c:\temp\file_service\log\service.log"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>

      <bindings>
        <wsHttpBinding>
          <binding name="httpBinding">
            <security mode="None">
              <message clientCredentialType="None" />
            </security>
          </binding>
          <binding name="WSHttpBinding_FileService">
            <security mode="None" />
          </binding>
        </wsHttpBinding>
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="serverBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        <endpointBehaviors>
         
          <behavior name="webBehavior"> 
              <webHttp /> 
            <enableWebScript/>
          </behavior>          
        </endpointBehaviors>
        </behaviors>
        <services>
            <service name="KasperTestTaskServer.FileDataService">
              <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="webBehavior" contract="KasperTestTaskServer.IFileDataService"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:10000/FileDataService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>