<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>  
    <clear/>  
    <add name="NorthwindSQL"   
     providerName="System.Data.SqlClient"   
     connectionString=  
     "Data Source=localhost/SQLEXPRESS;Initial Catalog=KasperTestTask;Integrated Security=true"  
    />  
  </connectionStrings>  
  <appSettings>    
    <add key="windowsServiceName" value="MainFileService"/>
    <add key="logFile" value="c:\temp\core\log\service.log"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="jsonBehavior">
            <enableWebScript/>
          </behavior>
        </endpointBehaviors>
        </behaviors>
        <services>
            <service name="KasperTestTaskServer.FileDataService">
              <endpoint address="soap" binding="basicHttpBinding" contract="KasperTestTaskServer.IFileDataService"/>
              <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="KasperTestTaskServer.IFileDataService"/>
                <endpoint address="" binding="basicHttpBinding" contract="KasperTestTaskServer.IFileDataService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:10000/FileDataService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>